@page "/"
@inject IJSRuntime JS

<Preload />
<div class="overflow-y-auto flex-col w-full h-full flex">
    <div class="thread">
        <div class="thread-top-container">
            <div class="container items-center">
                <div class="row gy-1">
                    @if (messages.Count > 0)
                    {
                        foreach (var message in messages)
                        {
                            var messageClass = message.Key == MesageType.User ? "thread-user-message" : "thread-agent-message";
                            <div class="thread-message @messageClass">
                                <div class=@(messageClass + "-content")>
                                    @if (message.Key == MesageType.User)
                                    {
                                        @message.Value
                                    }
                                    else
                                    {
                                        @MarkdownFragment(message.Value);
                                    }
                                </div>
                            </div>
                        }
                    }
                    <div id="thinkingindicator" class="thinking-indicator" style="display: @(isProcessing ? "flex" : "none")">
                        <span></span><span></span><span></span> <span></span><h6>Thinking</h6>
                    </div>
                </div>
            </div>
        </div>

         <!-- Floating Action Button -->
        <div class="fab-container">
            <button class="fab-button @(isMessageAreaVisible ? "spin-back" : "spin")" @onclick="ToggleMessageArea">
                <Icon Name="IconName.KeyboardFill" Size="IconSize.x2" Color="IconColor.White" />
            </button>
        </div>

         <!-- Message Area -->
        <div class="thread-bottom" style="display: @(isMessageAreaVisible ? "block" : "none")">
            <div class="container">
                <div class="thread-bottom-container justify-content-center">
                    <div class="thread-bottom-input-container">
                        <div class="thread-bottom-input-content">
                            <input class="thread-bottom-placeholder-input"
                                   @bind="currentMessage"
                                   @onkeypress="HandleKeyPress"
                                   placeholder="Type a message..." />
                        </div>
                    </div>
                </div>
                <!-- div  class="row">
                    <div class="input-icons">
                        <button class="icon-button">
                            <Icon Name="IconName.Plus" Size="IconSize.x2" Color="IconColor.White" />
                        </button>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>

